body {
	background: #f1f1f1;
    padding-top: 2%;
	margin: 0;
}

h3.ui.header .ui.toggle.checkbox {
    float: right
}

.siteIcon {
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.ui.grid {
    margin: 0;
}
.ui.segment.settingFields {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

.shareButtons {
    float: right;
}

.dimmer .content .header {
    color: white !important;
}
